<%= render "devise/shared/navbar" %>
<p id="notice"><%= notice %></p>
<h1>Posts</h1>
<% if @posts.present? %>
  <table>
    <thead>
      <tr>
        <th class="col-sm-4 fs-20">Title</th>
        <th class="col-sm-4 fs-20">Author</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="col-sm-4 fs-20"><%= post.title %></td>
          <td class="col-sm-4 fs-20"><%= author_name(post.user) %></td>
          <div class="col-sm-4">
          <td class="p-l-10 p-b-5"><%= link_to 'Show', post, class: 'btn btn-default' %></td>
        </tr>
        <br>
      <% end %>
    </tbody>
  </table>
<% end %>

